{% if interface_bundle is defined %}
    {% include [interface_bundle~':_Default:breadcrumb.html.twig', 'BEInterfaceBundle:_Default:_breadcrumb.html.twig'] %}
{% else %}
    {% include 'BEInterfaceBundle:_Default:_breadcrumb.html.twig' %}
{% endif %}