   <link rel="stylesheet" type="text/css" href="{{ asset('bundles/beinterface/css/pages/profile.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/beinterface/plugins/bootstrap-fileupload/bootstrap-fileupload.css') }}" />
{% if avoidscripts is not defined or avoidscripts!=true %}
    <script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/bootstrap-fileupload/bootstrap-fileupload.js') }}"></script>        
{% endif %}
        <form action="{{ _pathform }}" role="form"method="POST"  enctype="multipart/form-data">
           <div class="form-group">
              <div class="thumbnail" style="width: 310px;">
                  {% if _avatar %}
                      <img src="/uploads/{{ _avatartype }}/{{ item.id }}/{{ _avatar }}" alt="Logo">
                      {% else %}<img src="http://www.placehold.it/310x170/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                  {% endif %}

              </div>
              <div class="margin-top-10 fileupload fileupload-new" data-provides="fileupload" >
                 <div class="input-group input-group-fixed">
                    <span class="input-group-btn">
                    <span class="uneditable-input">
                    <i class="icon-file fileupload-exists"></i> 
                    <span class="fileupload-preview"></span>
                    </span>
                    </span>
                    <span class="btn default btn-file">
                    <span class="fileupload-new"><i class="icon-paper-clip"></i> Seleccione la imagen</span>
                    <span class="fileupload-exists"><i class="icon-undo"></i> Cambiar</span>
                    <input type="file"name="avatar" class="default" />
                    </span>
                    <a href="#" class="btn red fileupload-exists" data-dismiss="fileupload"><i class="icon-trash"></i> Eliminar</a>
                 </div>
              </div>
           </div>
           <div class="margin-top-10">
              <input type="submit" class="btn green"  value="Subir">
              <a href="#" class="btn default">Cancelar</a>
           </div>
        </form>