<!-- 
<script type="text/javascript" src="{{ asset('/bundles/beinterface/plugins/clockface/js/clockface.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/beinterface/plugins/clockface/css/clockface.css') }}" />
<script>
    jQuery(document).ready(function () {
$('{{ fieldstoclock }}').clockface({
            format: 'H:mm'
        });
        
    });
</script>
-->

<script type="text/javascript" src="{{ asset('/bundles/beinterface/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/beinterface/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css') }}" />
<script>
    jQuery(document).ready(function () {
$('{{ fieldstoclock }}').timepicker({
                autoclose: true,
                minuteStep: 1,
                showSeconds: false,
                showMeridian: false
            });
        
    });
</script>