{# 
    Pacolmg
    Greetik Soluciones SL
    Bootstrap Color plugin
#}

<link rel="stylesheet" type="text/css" href="{{ asset('bundles/beinterface/plugins/bootstrap-colorpicker/css/colorpicker.css') }}">
<script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}"></script>

<script>
      jQuery(document).ready(function() {    
            $('{{ fieldstocolor }}').colorpicker();
            
            $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
    });
</script>

{# 
    Pacolmg
    Greetik Soluciones SL
    Jquery ui Color plugin
#}

{# #}