
<form id="delete{{ id is defined ? id : '' }}" method="post" action="{{pathdelete}}" onsubmit="return confirmdelete{{ id is defined ? id : '' }}()"> 
       <button type="submit" class="btn red"><i class="icon icon-trash" style="color:inherit !important;"></i>&nbsp;Eliminar</button>
</form>


{% block additionalscripts %}
    <script>
        function confirmdelete{{ id is defined ? id : '' }}() {
            var returndelete = confirm("¿Seguro que desea borrarlo? OPERACIÓN IRREVERSIBLE");
            if (!returndelete) return false;
            
        {% if id is defined %}$('#delete{{ id }}').css('display', 'none');{% endif %}
            return true;
        }
    </script>


{% endblock %}