        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="{{ configTable.id}}">
                <thead>
                    <tr>
                        {%  for keylabel, labeltable in configTable.fields %}
                            <th>{{ labeltable.title }}</th>
                            {% endfor %}
                            {% if configTable['noOptions'] is not defined or configTable['noOptions']!=true %}
                            <th>Opciones</th>
                            {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if configTable.fromajax is defined %}{% else %}
                    {% for _item in data %}
                        <tr {% if _item.id is defined %}id="tr_{{ _item.id }}"{% endif %}>
                            {% for keylabel, labeltable in configTable.fields %}
                                {% if labeltable.hidden is not defined or labeltable.hidden==false %}
                                    {# link #}

                                    <td>
                                        {% if configTable.fields[keylabel]['link_view'] is defined and (configTable.fields[keylabel]['link_view'] == true or configTable.fields[keylabel]['link_view'] == 1) %}
                                            <a {% if configTable.viewdata.extralink is defined %}{{ configTable.viewdata.extralink | raw }}{% endif %} href="{% if configTable.fields[keylabel]['link_view']['link_url'] is defined %} {{ path(configTable.fields[keylabel]['link_view']['link_url'], {'id': attribute(_item, configTable.fields[keylabel]['link_view']['link_id'])}) }}{% else %}{{ path(configTable.viewdata.url, {'id': _item.id}) }}{% endif %}">
                                            {% set _closeA=true %}{% endif %}

                                            {# for keys repeteaded #}
                                            {% if configTable.fields[keylabel]['first_key'] is defined %}{% set fieldkey = configTable.fields[keylabel]['first_key'] %}
                                            {% else %}{% set fieldkey = keylabel %}{% endif %}
                                            
                                            {# show the field#}
                                            {% if (attribute(_item, fieldkey).timestamp is defined) %}
                                                {% if configTable.fields[keylabel]['istime'] is defined  %}
                                                    {{ attribute(_item, fieldkey) | date('H:i') }}
                                                {% elseif  configTable.fields[keylabel]['isdate'] is defined %}
                                                    {{ attribute(_item, fieldkey) | date('Y-m-d') }}
                                                {% else %}
                                                    {{ attribute(_item, fieldkey) | date('Y-m-d H:i') }}
                                                {% endif%}
                                            {% else %}
                                                {% if configTable.fields[keylabel]['isboolean'] is defined and configTable.fields[keylabel]['isboolean'] == true %}
                                                    {{ ((attribute(_item, fieldkey)==true)?'Sí':'No') }}
                                                {% else %}
                                                    {% if configTable.fields[keylabel]['isarray'] is defined and configTable.fields[keylabel]['isarray'] == true %}
                                                        {{ attribute(_item, fieldkey) | join( configTable.fields[keylabel]['separator'] is defined ? configTable.fields[keylabel]['separator'] is defined: ', ') }}
                                                    {% else %}                                                
                                                    {% if configTable.fields[keylabel]['second_key'] is defined %}
                                                        {% if attribute(attribute(_item, fieldkey), configTable.fields[keylabel]['second_key']) is defined %}
                                                            {{ attribute(attribute(_item, fieldkey), configTable.fields[keylabel]['second_key']) | raw }}
                                                        {% else %}
                                                            {% if attribute(_item, fieldkey) is null %}{% if configTable.fields[keylabel]['alternative_field'] is defined %}{{ attribute(_item, configTable.fields[keylabel]['alternative_field']) }}{% else %}-{% endif%}{% else %}
                                                            {{ configTable.fields[keylabel]['alternative_text'] }}{% endif %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if attribute(_item, fieldkey) is null or attribute(_item, fieldkey)=='' %}{% if configTable.fields[keylabel]['alternative_field'] is defined %}{{ attribute(_item, configTable.fields[keylabel]['alternative_field']) }}{% else %}-{% endif%}{% else %}
                                                            {{ attribute(_item, fieldkey) | raw }}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                            {% endif %}
                                            {# close link#}
                                            {% if _closeA is defined and _closeA==true %}</a>{% endif %}
                                    </td>

                                {% endif %}
                            {% endfor %}
                            {% if configTable['noOptions'] is not defined or configTable['noOptions']!=true %}
                                <td>
                                    {% if configTable.viewdata is defined %}
                                        <a class="" title="Ver" href="{{ path(configTable.viewdata.url, {'id': _item.id}) }}"><i class="icon-zoom-in"></i></a>&nbsp;
                                        {% endif %}
                                        {% if configTable['editForbidden'] is not defined or configTable['editForbidden']!=false %}
                                        <a class="edit" title="Editar" data-id="{{ _item.id }}" href="javascript:;"><i class="icon-pencil"></i></a>&nbsp;
                                        {% endif %}
                                        {% if configTable['deleteForbidden'] is not defined or configTable['deleteForbidden']!=false %}
                                        <a class="delete" data-id="{{ _item.id }}" title="Eliminar" href="javascript:;"><i class="icon-trash"></i></a>
                                        {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>					
            </table>
        </div>
		
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/beinterface/plugins/select2/select2_metro.css') }}" />
<!--
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/beinterface/plugins/bootstrap-timepicker/compiled/timepicker.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/beinterface/plugins/bootstrap-colorpicker/css/colorpicker.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/beinterface/plugins/bootstrap-datetimepicker/css/datetimepicker.css') }}" />

<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/select2/select2.min.js') }}"></script>
<!--
<script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}"></script>  
<script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js') }}"></script>   
<!-- END PAGE LEVEL PLUGINS -->

<script> var oTable{{ configTable.id }} = null;</script>

<link rel="stylesheet" type="text/css" href="{{ asset('bundles/beinterface/plugins/data-tables/extras/ColumnFilterWidgets.css') }}" />
<script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/data-tables/jquery.dataTables.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ asset('bundles/beinterface/plugins/data-tables/extras/jquery.dataTables.columnFilter.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ asset('bundles/beinterface/plugins/data-tables/extras/ColumnFilterWidgets.js') }}"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.11/api/fnReloadAjax.js" type="text/javascript" ></script>
<link rel="stylesheet" href="{{ asset('bundles/beinterface/plugins/data-tables/css/jquery.dataTables.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/beinterface/plugins/data-tables/DT_bootstrap.css') }}" />
<script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/data-tables/DT_bootstrap.js') }}"></script>


<script>

            //get the rows selecteds
                    function fnGetSelected(oTableLocal){
                    var aReturn = new Array();
                            var aTrs = oTableLocal.fnGetNodes();
                            for (var i = 0; i < aTrs.length; i++)
                    {if ($(aTrs[i]).hasClass('row_selected')){aReturn.push(aTrs[i]); }}
                    return aReturn;
                    }

            jQuery(document).ready(function() {

            //select tr on click        
                $('#{{ configTable.id }} tr').click(function() {
            if ($(this).hasClass('row_selected'))
                    $(this).removeClass('row_selected');
                    else
                    $(this).addClass('row_selected');
            });
                    /* Init the table */
                    oTable{{ configTable.id }} = $('#{{ configTable.id }}').dataTable({

            // set the initial value
            "iDisplayLength": 25,
                    "sPaginationType": "bootstrap",
                                {% if configTable.fromajax is defined %}
                        "sDom": '<"clear">lfrtip',
                                        "bProcessing": {{ configTable.fromajax.bProcessing }},
                                        "bServerSide": {{ configTable.fromajax.bServerSide }},
                                        "sAjaxSource": "{{ configTable.fromajax.sAjaxSource }}",
                                        "sServerMethod": "POST",    "fnServerData": function ( sSource, aoData, fnCallback, oSettings ) {
      oSettings.jqXHR = $.ajax( {
        "dataType": 'json',
        "type": "POST",
        "url": sSource,
        "data": aoData,
        "success": fnCallback
      } );
    },        {% else %}"sDom": 'W<"clear">lfrtip',
                                                                    "oColumnFilterWidgets": {
                                                                    "aiExclude": [{% set _cont=0 %}{% set _i=0 %}{% for _field in configTable.fields %}{% if _field['filter'] is not defined or _field['filter']!=true %}{{ ((_cont==0)?'':',')~_i }}{% set _cont=_cont+1 %}{% endif %}{% set _i=_i+1 %}{% endfor %}],
                                                                    "sSeparator": ', '
                                                                    },
    {% endif %}	

    {% if configTable['aaSorting'] is defined %}
                                    "aaSorting":{{ configTable.aaSorting | raw }},            {% endif %}
                                                                "oLanguage": {
                                                                "sProcessing":     "Procesando...",
                                                                        "sLengthMenu":     "Mostrar _MENU_ registros",
                                                                        "sZeroRecords":    "No se encontraron resultados",
                                                                        "sEmptyTable":     "Ningún dato disponible en esta tabla",
                                                                        "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                                                                        "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                                                                        "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                                                                        "sInfoPostFix":    "",
                                                                        "sSearch":         "Buscar:",
                                                                        "sUrl":            "",
                                                                        "sInfoThousands":  ",",
                                                                        "sLoadingRecords": "Cargando...",
                                                                        "oPaginate": {
                                                                        "sFirst":    "Primero",
                                                                                "sLast":     "Último",
                                                                                "sNext":     "Siguiente",
                                                                                "sPrevious": "Anterior"
                                                                        },
                                                                        "oAria": {
                                                                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                                                                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                                                        }
                                                                }
                                                            }){% if configTable.fromajax is defined %}.columnFilter({
			aoColumns: [ {% set i=0 %}{% for field in configTable.fields %}{{ ((i==0)?'':',') }}{% set i=i+1 %}{% if field.filter is not defined %}null{% else %}{type:"{{field.filter.type}}"{{ ((field.filter.options is defined)?',values: '~field.filter.options:'') }}}{% endif %}{% endfor %}
				]

		}){% endif %};
                                                            jQuery('#{{ configTable.id }}_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
                                                            jQuery('#{{ configTable.id }}_wrapper .column-filter-widgets select').select2(); // initialize select2 dropdown

                                                            jQuery('#{{ configTable.id }}_wrapper .dataTables_filter input').addClass("form-control input-medium"); // modify table search input
                                                        jQuery('#{{ configTable.id }}_wrapper .dataTables_length select').addClass("form-control input-xsmall"); // modify table per page dropd
                                                        
    {% if configTable.fromajax is defined %}
        					jQuery('#{{ configTable.id }}_wrapper tfoot input').addClass("form-control"); // modify table search input
					jQuery('#{{ configTable.id }}_wrapper tfoot select').addClass("form-control"); // modify table per page dropd					
					jQuery('#{{ configTable.id }}_wrapper tfoot select').select2(); // initialize select2 dropdown

        {% endif %}


                                                });
</script>		
