{# view with icons an score #}

{% if _score == -1 %}
    Sin Calificar
{% else %}
    {% if _score>0 %}
        {% for i in 1.._score %}
            <i class="icon-star"></i>
        {% endfor %}
    {% endif %}
    {% if _score<10 %}
        {% for i in _score..9 %}
            <i class="icon-star-empty"></i>
        {% endfor %}
    {% endif %}
{% endif %}
