{% set configTable = configTable | merge({'editForbidden':false, 'deleteForbidden':false }) %}
{# 
    Pacolmg
    Greetik Soluciones SL
    Template to render a table using the script datatable
#} 
<div class="portlet box blue" id="collapse_{{ configTable.id}}">
    <div class="portlet-title">
        <div class="caption"><i class="icon-{{ configTable.icon }}"></i>{{ configTable.title}}</div>
        <div class="tools">{% if configTable.collapse is defined and configTable.collapse==true %}<a class="{{ ((configTable.initCollapsed is defined and configTable.initCollapsed==true)?'expand':'collapse') }}" href="javascript:;"></a>{% endif %}</div>     
    </div>
    <div class="portlet-body" {{ ((configTable.initCollapsed is defined and configTable.initCollapsed==true)?'style="display:none;"':'') }}>

        <div class="table-toolbar">
            <div class="btn-group">
                {% if configTable.extrabtns is defined %}
                    {% for extrabtn  in configTable.extrabtns %}
                        <a href="{{ extrabtn.url }}" {% if extrabtn.extralink is defined %}{{ extrabtn.extralink | raw }}{% endif %}><button class="btn {{ extrabtn.color }}"> {{ extrabtn.title }} <i class="icon-{{ extrabtn.icon }}"></i></button></a>
                    {% endfor %}
                {% endif %}
                {% if configTable.insertdata is defined %}<a href="{{ configTable.insertdata.url }}" {% if configTable.insertdata.extralink is defined %}{{ configTable.insertdata.extralink | raw }}{% endif %}><button class="btn red"> {{ ((configTable.insertdata.extratitle is defined)?configTable.insertdata.extratitle:'Nuevo') }} <i class="icon-{{ ((configTable.insertdata.extraicon is defined)?configTable.insertdata.extraicon:'plus') }}"></i></button></a>{% endif %}
                <div class="clearfix"></div>
            </div>
        </div>

        <div style="clear:both;"></div>
		{% include('BEInterfaceBundle:_Scripts:tablescript.html.twig') %}
    </div>
</div>    



