{% set break=0 %}
{% if new_form is defined %}
    {% for field in new_form %}
        {% if field.vars.errors|length and break==0 %}{% set break=1 %}<div class="alert alert-danger">Compruebe los errores del formulario</div>{% endif %}
    {% endfor %}  
{% endif %}
{% if new_form_pass is defined %}
    {% for field in new_form_pass %}
        {% if field.vars.errors|length and break==0 %}{% set break=1 %}<div class="alert alert-danger">Compruebe los errores del formulario</div>{% endif %}
    {% endfor %}                    
{% endif %}
{% if new_form is defined %}
    {% if form_errors(new_form) %}
        <div class="alert alert-danger">{{ form_errors(new_form) }}</div>
    {% endif %} 
{% endif %}
{% if new_form_pass is defined %}
    {% if form_errors(new_form_pass) %}
        <div class="alert alert-danger">{{ form_errors(new_form_pass) }}</div>
    {% endif %}
{% endif %}
